<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DolphinTests" parallel="tests" thread-count="10" >
	<parameter name="configFile" value="resources/configuration/config.properties" />
	<parameter name="htmlLogging" value="true"/>
	
	<test verbose="5" name="GoogleSRP" annotations="JDK" parallel="classes" thread-count="6" >
		<parameter name="baseUrl" value="http://google.com"/>  
		<parameter name="locatorFile" value="resources/configuration/elementLocators.xml" />
		<parameter name="intl" value="us"/>
		<parameter name="bucket" value="NA"/>
		<parameter name="browser" value="chrome"/>		<!-- supported browsers: chrome, ff, remote, selastic, safari(no UA), -->
		<groups>
      		<run>
      			<include name="frame" />
		 		<include name="smoke" />
		 		<include name="functional" />
		 		<exclude name="todo" />
		 		<exclude name="notForDesktop" />
      		</run>        
    	</groups>
    	<classes>
    		<class name="sampleTests.GoogleSearchTest"></class>
		</classes>
	</test>
	
	<test verbose="5" name="GoogleSRPMobile" annotations="JDK" parallel="classes" thread-count="6" >
		<parameter name="baseUrl" value="http://google.com"/>
		<parameter name="locatorFile" value="resources/configuration/mobileElementLocators.xml" />
		<parameter name="userAgent" value="Mozilla/5.0 (iPhone; CPU iPhone OS 5_0 like Mac OS X) AppleWebKit/534.46 (KHTML, like Gecko) Version/5.1 Mobile/9A334 Safari/7534.48.3"/>
		<parameter name="browserWidth" value="390"/>
		<parameter name="browserHeight" value="780" />
		   
		<parameter name="intl" value="us"/>
		<parameter name="bucket" value="NA"/>
		<parameter name="browser" value="ff"/>		<!-- supported browsers: chrome, ff, remote, selastic, safari(no UA), -->
		<groups>
      		<run>
      			<include name="frame" />
		 		<include name="smoke" />
		 		<include name="functional" />
		 		<exclude name="todo" />
		 		<exclude name="notForDesktop" />
      		</run>        
    	</groups>
    	<classes>
    		<class name="sampleTests.GoogleSearchTest"></class>
		</classes>
	</test>
	
	<listeners>
		<listener class-name="com.basava.framework.testng.reporters.SmartReporter" />
		<listener class-name="com.basava.framework.testng.reporters.EmailableReporter" />
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners> 
</suite>